<mat-card class="page-card">
  <mat-card-title class="page-title center-text">Reset password</mat-card-title>
  <mat-card-content>
    <div *ngIf="!working && !sent">
      <div class="page-content">
        <p>Enter your email address to receive a recovery code to reset your password.</p>
      </div>
      <p class="error-text center-text">{{ errorMessage }}</p>
      <div class="page-content">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <div>
            <mat-form-field class="form-field">
              <input matInput
                type="email"
                placeholder="e-mail"
                formControlName="email">
            </mat-form-field>
          </div>
          <div>
            <button mat-stroked-button
              type="submit"
              [disabled]="!form.valid">continue</button>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="!working && sent" class="page-content">
      <p>An email with recovery instructions has been sent to <span class="emphesis">{{ address }}</span></p>
      <button mat-stroked-button (click)="onHomeClick()"><mat-icon>home</mat-icon> home</button>
    </div>
    <div *ngIf="working">
      <working-spinner></working-spinner>
    </div>
  </mat-card-content>
</mat-card>
