<div class="card-holder">
  <mat-card class="page-card">
    <div class="container">
      <div class="page-title-small">receive</div>
      <div class="caution-box">
        Do not include a payment ID when sending to this address.
      </div>
      <div *ngIf="account$ | async as account">
        <img [src]="account?.depositQrCode" height="256" width="256">
        <div class="address-box">
          <copy-string-box [data]="account?.depositAddress"></copy-string-box>
        </div>
      </div>
    </div>
  </mat-card>
</div>
