<div class="page-content">
  <div class="page-title-small center-text">edit contact</div>
  <div class="card-holder">
    <mat-card>
      <mat-card-content>
        <div *ngIf="contact$ | async as contact">
          <div *ngIf="errorMessage">
            <p class="error-text">{{ errorMessage }}</p>
          </div>
          <div *ngIf="busy">
            <mat-spinner diameter="64"></mat-spinner>
          </div>
          <div *ngIf="!busy">
            <edit-contact-form [contact]="contact" (done)="saveContact($event)"></edit-contact-form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
