<div class="card-holder">
  <mat-card class="page-card">
    <div class="container">
      <div class="page-title-small">Set wallet pin</div>
      <p *ngIf="errorMessage" class="error-text">{{ errorMessage }}</p>
      <div *ngIf="busy" class="busy-spinner">
        <working-spinner></working-spinner>
      </div>
      <div *ngIf="!busy && !aborted && !succeeded">
        <div *ngIf="!newPin">
          <pin-prompt title="enter a new pin" (pin)="onNewPinEnterred($event)"></pin-prompt>
        </div>
        <div *ngIf="newPin">
          <pin-prompt title="confirm new pin" (pin)="onConfirmPinEnterred($event)"></pin-prompt>
        </div>
      </div>
      <div *ngIf="!busy && aborted">
        <p>please try again later.</p>
        <button mat-stroked-button (click)="onCloseClick()">close</button>
      </div>
      <div *ngIf="!busy && succeeded">
        <p>Wallet pin successfully set.</p>
        <button mat-stroked-button (click)="onCloseClick()">done</button>
      </div>
    </div>
    <div class="spacer"></div>
  </mat-card>
</div>
