<div class="container">
  <div class="logo">
    <img src="assets/images/turtlecoin_symbol_color@2x.png" alt="image">
  </div>
  <h2>coming soon</h2>
</div>
<!-- <div>
  <div *ngIf="initialized; else loading">
    <div>
      <div *ngIf="authService.firebaseUser$ | async as authUser; else nouser">
        <main-nav></main-nav>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loading">
    <mat-spinner color="primary" class="loading-spinner"></mat-spinner>
  </div>
</ng-template>

<ng-template #nouser>
  <div class="no-user">
    <router-outlet></router-outlet>
  </div>
</ng-template> -->
