<div class="card-holder">
  <mat-card class="page-card">
    <div class="container">
      <div class="page-title-small">Info</div>
      <div class="content">
        <p>
          Web wallets are a great way to get started using TurtleCoin, and provide a
          convenient way to have a few coins easily available.
        </p>
        <p>
          However, to take full advantage of TurtleCoin's privacy features and
          to be in sole control of your private keys we recommend using a stand-alone
          wallet client.
        </p>
        <p>
          You can find wallet clients supporting a variety of platforms available for download
          at <a href="https://turtlecoin.lol/#download" target="_blank">turtlecoin.lol/#download</a>
        </p>
        <div class="logo">
          <img src="assets/images/turtlecoin_symbol_color@2x.png" alt="image">
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </mat-card>
</div>
