.info-table {
  table-layout: fixed;
  width: 100%;
  text-align: left;
  border-spacing: 10px;
  padding-bottom: 10px;
}
.code-text {
  font-family: 'Hack';
  font-size: 0.85em;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
