// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-turtlegreen: (
    50 : #e4ece4,
    100 : #bbcfbc,
    200 : #8daf90,
    300 : #5f8e63,
    400 : #00853D,
    500 : #00853D,
    600 : #00853D,
    700 : #00853D,
    800 : #104213,
    900 : #08310b,
    A100 : #6bff74,
    A200 : #38ff45,
    A400 : #05ff15,
    A700 : #00eb0f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wallet-primary: mat-palette($mat-turtlegreen);
$wallet-accent: mat-palette($mat-blue);

// The warn palette is optional (defaults to red).
$wallet-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$wallet-theme: mat-light-theme($wallet-primary, $wallet-accent, $wallet-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($wallet-theme);

@font-face {
  font-family: hack;
  src: url(assets/fonts/Hack-Regular.ttf) format('truetype');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p {
  line-height: 1.6em;
}

.page-content {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  max-width: 800px;
  margin: auto;
}

.table-key {
  width: 90px;
  font-weight: 500;
  font-size: 0.95em;
}
.table-value {
  max-width: inherit;
  font-size: 0.95em;
}

.card-holder {
  margin: 15px;
}

.page-card.mat-card {
  text-align: center;
  max-width: 800px;
  min-height: 100%;
  margin: auto;
  padding: 0 0 0 0;
}

.page-title {
  font-size: 2.3em;
  font-weight: lighter;
  padding-top: 40px;
  margin-bottom: 20px;
}

.page-title-small {
  font-size: 1.6em;
  font-weight: lighter;
  padding-top: 20px;
  margin-bottom: 15px;
}

.center-text {
  text-align: center;
}

.error-text {
  color: red;
}

.caution-box {
  margin: 15px;
  padding: 10px;
  background-color: #ffedb8;
  font-size: 0.85em;
  text-align: left;
}

.unconfirmed-text {
  color: grey;
  font-style: italic;
}
