.page-title {
  font-size: 3.0em;
}
.sub-title {
  font-size: 2.0em;
  font-weight: lighter;
}
.logo {
  display: block;
  text-align: center;
}
.account-button {
  margin-left: 8px;
  margin-right: 8px;
}
.spacer {
  margin-top: 40px;
}
.title-spacer {
  padding-top: 40px;
}
.screenshot {
  max-width: 90%;
  height: auto;
  max-height: 600px;
}
.text-box {
  padding-left: 40px;
  padding-right: 40px;
}
.footer {
  height: 80px;
}
