<mat-card class="page-card">
  <mat-card-content>
    <div class="title-spacer"></div>
    <mat-card-title class="page-title center-text">Turtle fanny pack</mat-card-title>
    <div class="logo">
      <img src="assets/images/turtlecoin_symbol_color@2x.png" alt="image">
    </div>
    <div class="section-spacer"></div>
    <p class="center-text">
      A simple & fast TurtleCoin web wallet
    </p>
    <div class="spacer"></div>
    <div class="center-text">
      <p>
        <button mat-flat-button
          class="account-button"
          color="primary"
          (click)="onSignInClick()">Sign in</button> or
        <button mat-stroked-button
        class="account-button"
          color="accent"
          (click)="onRegisterInClick()">Create account</button>
      </p>
      <p>to get started</p>
    </div>
    <div class="spacer"></div>
    <mat-card-title class="sub-title center-text">Any device</mat-card-title>
    <p class="text-box">Instantly access your wallet on mobile, desktop and tablet</p>
    <img class="screenshot" src="assets/images/screen_iphone_iphone8silver_portrait.png" alt="phone">
    <img class="screenshot" src="assets/images/screen_desktop_macbookpro13_front.png" alt="laptop">
    <div class="spacer"></div>
    <mat-card-title class="sub-title center-text">Always synced</mat-card-title>
    <p class="text-box">Your wallet is always synced and ready use, and sending funds to other Fanny Pack users is instant with no transaction fees</p>
    <div class="spacer"></div>
    <mat-card-title class="sub-title center-text">Get Started</mat-card-title>
    <div class="spacer"></div>
    <div class="center-text">
      <p>
        <button mat-flat-button
          class="account-button"
          color="primary"
          (click)="onSignInClick()">Sign in</button> or
        <button mat-stroked-button
        class="account-button"
          color="accent"
          (click)="onRegisterInClick()">Create account</button>
      </p>
    </div>
    <div class="footer"></div>
  </mat-card-content>
</mat-card>
