.form-content {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.table-key {
  width: 30px;
  padding-bottom: 30px;
}
.table-value {
  line-height: 1.5em;
  padding-bottom: 20px;
}
