.data-table {
  text-align: left;
  padding-left: 20px;
}
.table-key {
  padding-bottom: 1em;
}
.table-value {
  padding-bottom: 1em;
}
.reset-pin {
  margin-left: 10px;
}
.footer {
  height: 60px;
}
